h1 {
    border-color: #6CCFF6;
    border-style: dashed;
    color: #001011;
    position: relative;
    
    
    
}
.font{

    font-family: Georgia, Times, "Times New Roman", serif;
    
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}
header {
    width: 100%;
    height: 50px;
    background-color: #98CE00;
    font-size: 45px;
}

* {
    background-color: #FFFFFC;
}
#animated {
    animation-duration: 5s;
    animation-name: movement;
    animation-iteration-count: infinite;
}

@keyframes movement {
    0%{
        top: 0px;
    }
    100%{
        top: 100px;
    }
}



#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}
#gallery img {
    width: 25%;
    height: 300px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border: 10px ridge #757780;
  }

@media (max-width: 600px){
    #gallery img{
        width: 100%;
    }
}

/*
sonic silver: #757780
yellow green: #98CE00

*/